<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CashPool Invia Challenge</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/traveler/list">Travelers</a></li>
                <li><a href="/trip/list">Trips</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>