<div class="container" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="content">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Traveler Form</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" action="#" th:action="@{'/traveler/' + ${action}}" th:object="${traveler}" method="post">
                <input name="id" id="id" type="hidden" th:value="${traveler.id}">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Your Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:value="${traveler.name}" type="text" class="form-control" name="name" id="name" placeholder="Enter your Name"
                                   th:field="*{name}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input th:value="${traveler.email}" type="text" class="form-control" name="email" id="email"
                                   placeholder="Enter your Email"/>
                        </div>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>

                <div class="login-register">
                    <button class="btn btn-sm btn-primary btn-create" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>